<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
</head>
<body>
    <h1><%= number %> inches</h1>
    <ul>
        <li>is <%= cubits %> cubits</li>
        <li>is <%= feet %> feet</li>
        <li>is <%= centimeters %> centimeters</li>
    </ul>
</body>
</html>