<!DOCTYPE html>
<html>
<head>
  <title>Hello Template</title>
</head>
<body>

  <h5>The <%= name %> Page!! </h5>

  <p>Hello there <%= name %>!</p>

  <p>Thank you for telling me about your interesting hobby
    <%= something %>. Very cool!
  </p>


</body>
</html>