<!DOCTYPE html>
<html>
<head>
    <title>A very fun form</title>
    <style type="text/css">
      ul {
        list-style-type: none;
      }
    </style>
</head>

<body>
  <h3>The Funform!!</h3>
  <div>
    <form action="fun_form_handler" method='POST'>
      <ul>
      <li>What is your name?
        <input type="text" name="name">
      </li>

      <li>Tell me something 
        <input type="text" name="something">
      </li>

      <li>Pick a thing: 
        <input type="text" name="thing1">
      </li>

      <li>Pick another thing: 
        <input type="text" name="thing2">
      </li>

      <li>How old are you?
        <input type="number" name="amount" min="1" max="10">
      </li><br>
      <button type="submit">Press Me</button>
    </ul>
    </form>
  </div>
</body>
</html>