<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADLIB</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body id="madlibs_body">
    <h1 id="madlibs_text">MADLIBS!</h1>
    <form action="results" method="POST">
        <label for="adjective_1">Adjective:</label>
        <input id="adjective_1" name="adjective_1" type="text">
        <br>
        <label for="adjective_2">Adjective:</label>
        <input id="adjective_2" name="adjective_2" type="text">
        <br>
        <label for="type_of_bird">Bird:</label>
        <input id="type_of_bird" name="type_of_bird" type="radio" value="chicken">
        chicken
        <input id="type_of_bird" name="type_of_bird" type="radio" value="duck">
        duck
        <input id="type_of_bird" name="type_of_bird" type="radio" value="turkey">
        turkey
        <input id="type_of_bird" name="type_of_bird" type="radio" value="goose">
        goose

        <br>
        <label for="room_in_house">Room in the house:</label>
        <input id="room_in_house" name="room_in_house" type="text">
        <br>
        <label for="verb_past_tense">Verb in the past tense:</label>
        <input id="verb_past_tense" name="verb_past_tense" type="text">
        <br>
        <label for="verb">verb:</label>
        <input id="verb" name="verb" type="text">
        <br>
        <label for="relative_name">Name of a Relative:</label>
        <input id="relative_name" name="relative_name" type="text">
        <br>

        <label for="noun_1">Noun:</label>
        <input id="noun_1" name="noun_1" type="text">
        <br>
        <label for="a_liquid">A Liquid:</label>
        <input id="a_liquid" name="a_liquid" type="text">
        <br>
        <label for="verb_ending_in_ing">Verb ending in ing:</label>
        <input id="verb_ending_in_ing" name="verb_ending_in_ing" type="text">
        <br>
        <label for="part_of_the_body">Part of the Body:</label>
        <input id="part_of_the_body" name="part_of_the_body" type="text">
        <br>
        <label for="plural_noun_1">Plural Noun 1:</label>
        <input id="plural_noun_1" name="plural_noun_1" type="text">
        <br>
        <label for="number1">Number greater than 1:</label>
        <input id="number1" name="number1" type="number">
        <br>
        <label for="verb_ending_in_ing_2">Verb Ending in ing:</label>
        <input id="verb_ending_in_ing_2" name="verb_ending_in_ing_2" type="text">
        <br>
        <label for="noun_2">Noun:</label>
        <input id="noun_2" name="noun_2" type="text">
        <br>
        <input type="submit">
    </form>
</body>
</html>