<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADLIBS</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body id="home_background">
    <h1 id="text_white_heading">MADLIBS</h1>
    <h2 id="text_white_heading">welcome shaurya's home page</h2>
    <h2 id="text_white_heading">Links to pages</h2>
    <ul id="text_white">
        <li><a href="form.html">Madlibs</a></li>
    </ul>
</body>
</html>