<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <ul> Choose from one of the following options
        <li>sword</li>
        <li>shield</li>
        <li>staff</li>
        <li>potion</li>
        <li>armor</li>
    </ul>
    <ul> Choose from one of the following characters
        <li>Archibald</li>
        <li>Henrik</li>
        <li>Isadore</li>        
        <li>Lucinda</li>
        <li>Dominic</li>
    </ul>
    <form action = "heroStats" method="GET">
        <label for="equipment">Add equipment</label>
        <input type="text" name="equipment" id="equipment">
        <label for="character">For Character</label>
        <input type="text" name="character" id="character"> 
        <input type="submit" value="Submit">
    </form>
</body>
</html>