<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <ul> Choose from one of the following options
        <li>kill the dragon</li>
        <li>save the princess</li>
        <li>find the treasure</li>
        <li>defeat the evil wizard</li>
        <li>find the magic sword</li>
    </ul>
    <form action = "heroStats" method="GET">

        <label for="quests">Add quests</label>
        <input type="text" name="quests" id="quests"> 
        <input type="submit" value="Submit">
    </form>
</body>
</html>