<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h3>WEB Grade</h3>
  <p id='WEB'></p>
  <button type="button" onclick="doTheFetch('WEB')">PRESS ME</button>
  <h3>History</h3>
  <p id = 'History'></p>
  <button type="button" onclick="doTheFetch('History')">PRESS ME</button>

  <script>
    async function doTheFetch(class_name) {
        const response = await fetch('http://127.0.0.1/grades')
        const data = await response.json()
        let counter_span = document.getElementById(class_name)
        counter_span.innerHTML = data[class_name];
    }    
  </script>
</body>
</html>