<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <h1>See your results here!</h1>
    <p>Here are your results:</p>
    <ol>
        <li>Your favorite food is <%= food %></li>
        <li>Your favorite drink is <%= drink %></li>
        <li>The reason why your favorite drink is <%= drink %> is because <%= reason %></li>
    </ol>
</body>
</html>