<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>The form</h1>
    <div>
        <form action="result_get" method='GET'>
          <ul>
          <li>Favorite food?
            <input type="text" name="food">
          </li>
    
          <li>Tell me your favorite drink 
            <input type="text" name="drink">
          </li>
          <li>Tell me why you like this drink
            <input type="text" name="reason">
          </li>
          <button type="submit">Submit</button>
        </ul>
        </form>
      </div>
</body>
</html>