<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
        <li>
            <a href="/form_get">form_get</a>
        </li>
        <li>
            <a href="/form_post">form_post</a>
        </li>
    </ul>
    
    
</body>
</html>