<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocked</title>
</head>
<body>
    <h1>You have exceeded the maximum number of visits: <%= maxvisits%></h1>
    <h1>Your visit count: <%= visits%></h1>
</body>
</html>