<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <p>Please enter valid longitude and latitude</p>
    <p>Your values could have one of the following problems</p>
        <ul>
            <li>
                Your values might not be inside of the US
            </li>
            <li>
                You might have submitted a non-numerical value
            </li>
            <li>
                You might have forgotten to submit either a latitude or longitude
            </li>
            <li>
                Your latitude or longitude might be too precise for the government API
            </li>
            
        </ul>
    <a href='weatherform'>Find the weather for another location!</a>
</body>
</html>