<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="post" method="POST">
        <label for="school"> Your school</label>
        <input id="school" name="school_name" type="text">
        <br>
        <label for="county"> Your county</label>
        <input id="county" name="county_name" type="text">
        <br>
        <label for="state"> Your state</label>
        <input id="state" name="state_name" type="text">
        <br>
        <input type="submit">
    </form>
</body>
</html>